@charset "utf-8";

/* -- 以下は削除不可 変更は可能です -- */
#footer #csslink a,
#footer #csslink a:hover { text-decoration: none; }

/* -- 変更可能部分 配置とサイズ -- */
#footer #csslink {
  text-align: right;
  font-size: 80%;
  margin: 0;
  padding: 0 20px 5px 0;
}

/* -- Header部分 -- */
header {
    width: 100%;
    height: 50px;
    background: #CCC;
    padding: 0px 50px;
    box-sizing: border-box;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    opacity: 0.8;
    z-index: 10;
}

header .gnav .menu {
  display: flex;
}

header .gnav .menu li {
    list-style: none;
}

header .gnav .menu li + li {
    margin-left: 40px;
}

.logo_small{
  width:30px;
  margin:5px;
}

/* -- 変更可能部分 色 -- */
#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { color: #006699; }

#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { background-color: #003366; }


/*----------------------------------------------------------
  レイアウト関係
----------------------------------------------------------*/

/*---------------------------------フォントサイズなど*/
body {
  text-align: center;
  font-size: 100%;
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3" sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.main {
  width: 70%;
  margin: auto;
  padding-top: 100px;


}

/*---------------------------------ページ全体の横幅*/
#wrapper {
  text-align: left;
  width: 800px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid #003366;
}

/*---------------------------------ヘッダー部分*/
#header {
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 5px 20px;
  background-color: #003366;
  color: #ffffff;
}

/*---------------------------------コンテンツ部分*/
#contents {
  width: 599px;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-left: 1px solid #003366;
}

.contents-inner {
  margin: 20px 20px 20px 20px;
  padding: 0px 0px 0px 0px;
}

/*---------------------------------サイドバー部分*/
#sidebar {
  width: 200px;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.sidebar-inner {
  margin: 20px 10px 20px 10px;
  padding: 0px 0px 0px 0px;
}

/*---------------------------------フッター部分*/
#footer {
  text-align: center;
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #003366;
  color: #ffffff;
}

.w100 { width:100px !important;}
.w200 { width:200px !important;}
.w300 { width:300px !important;}
.w400 { width:400px !important;}

/*----------------------------------------------------------
  メニュー部分の指定
----------------------------------------------------------*/
.menu {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
  display:flex;
}

.menu li {

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.menu li a {
  text-decoration: none;
  width: 170px;
  display: block;
  margin: 0px 0px 1px 0px;
  padding: 5px 5px 5px 5px;
  background-color: #cccccc;
  color: #000033;
  overflow: hidden;
}

.menu li a:hover {
  text-decoration: underline;
  background-color: orange;
  color: #ffffff;
}

/*----------------------------------------------------------
  ヘッダー内の指定
----------------------------------------------------------*/

/* -- 見出し -- */
h1 {
  font-size: 150%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

/*----------------------------------------------------------
  コンテンツ内の指定
----------------------------------------------------------*/
h2 {
  font-size: 120%;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

h3 { }

h4 { }

h5 { }

h6 { }

.bold { font-weight: bold; }

.tal { text-align:left; }
.tac { text-align:center; }
.tar { text-align:right; }
.f22 { font-size:22px; }

/* -- 文字 -- */
p {
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}


.dib {
  display:inline-block;
}
.db {
  display:block;
}
.vat {
  vertical-align:top;
}
.vam {
  vertical-align:middle;
}
.vab {
  vertical-align:bottom;
}
.ait {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: top;
}
.aic {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}
.aim {
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

.mg20 { margin: 20px; }
.mg50 { margin: 50px; }

/*----------------------------------------------------------
  フッター
----------------------------------------------------------*/
#footer p {
  margin: 0px 0px 0px 0px;
  padding: 0.5em 0 0.5em 0;
}


/*----------------------------------------------------------
  評価点☆
----------------------------------------------------------*/
.starWrapper { width: 250px; height: 50px; margin: 0 auto; position: relative;}

.starsValue {
  border-radius:5px;
  background-color: #f9c03c;
  padding: 3px;
  color:black;
}

.starsBar { position: absolute; border: 0px solid red; margin: 0; padding: 0;
 min-height: 25px; height: 50%; width: 100%;  display: block;
 background-image: url(~@/assets/img/ratingStarGray.png);
 background-size: 100% 100%;
}

.starsBar2 { position: relative; border: 0px solid blue; margin: 0; padding: 0;
 min-height: 25px; height: 50%; width: 0; display: block; overflow: hidden;
 background-image: url(~@/assets/img/ratingStarGold.png);
}

/*----------------------------------------------------------
  詳細評価段組み
----------------------------------------------------------*/
.flexbox {
  display: flex;
  justify-content: space-around;
  color:#000;
  padding: 5px;
  border-bottom:solid;
  border-color:gray;
  border-width:1px;
}
.flexbox > .leftHeader{
  text-align: center;
  width: 25%;
  /*min-height: 100px;*/
  font-size:20px;
  color: black;
}
.flexbox > .leftHeader > .area{
  background:linear-gradient(transparent 70%, #f9c03c 0%);
  width:80%;
}

.flexbox > .star{
  text-align: center;
  width: 25%;
  color: black;
}
.flexbox > .comment{
  width: 40%;
  color: black;
}

.b_skyblue {
  background-color: lightblue;
  border: 3px solid skyblue;
  color: black;
  opacity: 0.9;
}
.b_purple {
  background-color: plum;
  border: 3px solid orchid;
  color: black;
  opacity: 0.9;
}
.b_orange {
  background-color: khaki;
  border: 3px solid gold;
  color: black;
  opacity: 0.9;

}
.b_green {
  background-color: lightgreen;
  border: 3px solid lime;
  color: black;
  opacity: 0.9;
}

dl {
    position: relative;
    margin-top: 50px;
}
dl::before,dl::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 24px;
    width: 90%;
    height: 1px;
    background-color: #231815;
}

dt {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 30px 0 0;
    background-color: #F7F7F7;
    z-index: 1;
}

dt span {
    position: relative;
    display: block;
    height: 50px;
    padding: 0 15px 0 30px;
    line-height: 50px;
    background-color: #231815;
    font-size: 24px;
    font-weight: 500;
    color: #f9c03c;
    letter-spacing: 1px;
    box-shadow: 2px 2px 0 #f9c03c;
}

dt span::before {
    left: 0;
    border-color: transparent transparent transparent #F7F7F7;
}

dt span::before,  dt span::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
}

.wrapper {
  text-align:left;
}

dt span::after {
    right: -15px;
    border-color: transparent transparent transparent #231815;
    filter: drop-shadow(2px 2px 0 #f9c03c);
}

.dt_hidden {
  height:0px;
  margin-top: 0px;
}

/*----------------------------------------------------------
  パラレル配置
----------------------------------------------------------*/
.pala.action {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.pala {
    opacity: 0;
    transition: all 0.8s ease;
}

.pala--lr {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
}


/*----------------------------------------------------------
  v-if,v-show フェード処理
----------------------------------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fadeSlow-enter-active,
.fadeSlow-leave-active {
  transition: opacity 8s ease;
}

.fadeSlow-enter-from,
.fadeSlow-leave-to {
  opacity: 0;
}


.action:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -7px;
}

.action.open:after {
    transform: rotate(-45deg);
    margin-top: -3px;
}


/*----------------------------------------------------------
  年数スライダー
----------------------------------------------------------*/
.slidebar-multithumb {
  display: grid;
  padding: 1rem;
  --bg: rgb(224, 224, 224);
  --bar: rgb(249, 192, 60);
}

/* ラベル */
.slidebar-multithumb label {
  grid-column: 1;
  grid-row: 1;
}

/* inputのスタイル */
.slidebar-multithumb input[type="range"] {
  grid-column: 1;
  grid-row: 2;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid;
  overflow: hidden;
}

/* つまみ部分のスタイル */
.slidebar-multithumb ::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 0.8rem;
  height: 1.5rem;
}

/* それぞれのつまみのスタイル */
.thumb-1 {
  z-index: 1;
}

.thumb-1::-webkit-slider-runnable-track {
  background: none;
}

.thumb-2::-webkit-slider-runnable-track {
  background: var(--bg);
}

.thumb-1::-webkit-slider-thumb {
  background: rgb(77, 169, 255);
  box-shadow: -100vw 0 0 100vw var(--bg);
}
.thumb-2::-webkit-slider-thumb {
  background: rgb(77, 169, 255);
  box-shadow: -100vw 0 0 100vw var(--bar);
}


/*----------------------------------------------------------
  連絡先ボタン
----------------------------------------------------------*/
.contact-btn {
    display: inline-block;
    width: 300px;
    height: 25px;
    padding: 10px;
    padding-left:20px;
    font-weight: 500;
    font-size: 1em;
    color: #2F2F2F;
    background: orange url(~@/assets/img/ico_mail.png) no-repeat left center;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.contact-btn:hover {
  background: khaki url(~@/assets/img/ico_mail.png) no-repeat left center;
}



/*---------------------------------サイドバー部分*/
.l_inner {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.section_title {
    position: relative;
    color: #333;
    font-size: 3.6rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 18px;
    background:linear-gradient(transparent 60%, orange 0%);
}

.section_title::before {
    top: -16px;
    left: -20px;
    background: url(~@/assets/logo.png) no-repeat center center;
}

.section_title::after {
    top: 34px;
    right: -24px;
    width: 110px;
    height: 110px;
    background: url(~@/assets/logo.png) no-repeat center center;
}

.topservice_item_title {
  font-weight: bold;
  font-size: 20px;
}

.topservice_list_wrap {

    margin: 0 auto;
}

.topservice_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topservice_item {
    width: calc(100%/4);
    margin-right: 1.5%;
    margin-bottom: 24px;
    padding-left: 1.3em;
}
.topservice_item:before {
    counter-increment: item;
    content: counter(item)'.';
    padding-right: .5em;
    font-weight: bold;
    color: #b40000;
    font-size: 40px;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}


.list_none {
    list-style: none;
    counter-reset: item;
}
.link_none {
  text-decoration: none;
  color: black;
  text-shadow:1px 1px 0 #666, -1px -1px 0 #FFF,
              -1px 1px 0 #666, 1px -1px 0 #FFF,
              0px 1px 0 #666,  0-1px 0 #FFF,
              -1px 0 0 #666, 1px 0 0 #FFF;
}
.topservice_item_image {
    background-color: #FFF;
    border-radius: 8px;
    padding: 22px;
    margin: 10px;
}
.topservice_item_image2 {
  width: calc(100%);
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.logoback {
  background: url(~@/assets/logo2.png) no-repeat left center;
  text-align:left;
  padding-left:400px;
  min-height:250px;
  width: 30%;
}